.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.aside {
  flex:1;
  background-color: #000;
  background-image: url(https://ts1.tc.mm.bing.net/th/id/R-C.75aaa3b2284ce69fa5629d0f34976e5d?rik=YHagb1qvGjlopQ&riu=http%3a%2f%2fpic.yupoo.com%2ffotomag%2fEbMXdbuM%2f7kjV7.jpg&ehk=8ekrZqm4hTbBW9gozQ0THWA2joP45PUCO3B12peOyXo%3d&risl=&pid=ImgRaw&r=0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  & + section {
    position: relative;
    flex:2;
    background-color: #f8f9fa;
  }
}




